{
  "$schema": "https://json-schema.org/draft/2020-12/schema",
  "dataDiskPath": "D:\\wsl\\data\\repos.vhdx",
  "dataDiskMountName": "repos",
  "setDefaultDistro": "Ubuntu-Personal",
  "replaceExisting": false,
  "provisionGit": true,
  "distros": [
    {
      "name": "Ubuntu-Personal",
      "installLocation": "%LOCALAPPDATA%\\wsl\\Ubuntu-Personal",
      "gitName": "Alexandre Machado",
      "gitEmail": "alexandre@machado.cc",
      "replaceIfExists": false
    },
    {
      "name": "Ubuntu-CloudHumans",
      "installLocation": "%LOCALAPPDATA%\\wsl\\Ubuntu-CloudHumans",
      "gitName": "Alexandre Machado",
      "gitEmail": "alexandre@machado.cc",
      "replaceIfExists": false
    }
  ]
}
